// цвета
$white: #fff;
$secondary: rgba(255, 255, 255, 0.6);
$divider: rgba(255, 255, 255, 0.05);
$black: #141414;
$surface: #f5f5f5;
$surfaceLight: rgba(217, 217, 217, 0.2);
$secondaryLight: rgba(20, 20, 20, 0.6);
$dividerLight: rgba(20, 20, 20, 0.05);
$tertiaryLight: rgba(20, 20, 20, 0.3);
$tertiaryDark: rgba(255, 255, 255, 0.3);
$uiGray: #f0f0f0;
$primary-10: rgba(20, 20, 20, 0.1);
$red: #DC1020;

// Разрешения
$tablet : 768px;
$desktop: 1200px;

// шрифты
$firstFont: 'Suisse Intl', sans-serif;